{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
<link rel="icon" type="image/png" href="https://login.aucegypt.edu/login/images/favicon.png">
<style>
    #header {
        background-color: #002e57;
        min-height: 105px
    }

    #branding h1,
    #branding h1 a:link,
    #branding h1 a:visited {
        color: #fff;
    }

    #branding h1 {
        color: #fff;
    }

    /* .module h2, .module caption, .inline-group h2 { background:#fff url(/admin_media/img/admin/nav-bg.gif) bottom left repeat-x; color: #333940; } */
    /* a.section:link, a.section:visited { color: #666666; } */
    a.section {
        font-weight: 700;
        color: #002e57 !important;
        font-size: 17px;
        line-height: 1.5em;
        margin-top: 1em;
        margin-bottom: 1em;
        padding-bottom: 3px;
        min-height: 3em;
        background: #fff
    }

    .module caption {
        background: #fff
    }


    /* Style the tab */
    .tab {
        overflow: hidden;
        background-color: #002e57;

    }

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 20px 10px 0px 10px;
        transition: 0.3s;
        font-size: 15px;
        color: white;
        border-bottom: 1px solid #002e57;

    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        color: #8bd3f5;
        border-bottom: 1px solid yellow;

    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }


</style>
{% endblock %}
{% block branding %}
<h1 id="site-name">
    <img href="{% url 'admin:index' %}" src="https://www.aucegypt.edu/themes/custom/auc/AUC100YRLogo-stack-white.png"
        width="111" height="63" style="margin-top: 7px;" alt="American Universty in Cairo" />
{% endblock %}
{% block nav-global %}   {% endblock %}
