{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
        <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    {% block stylesheet %}{% endblock %}

</head>
<body>
{%block body%}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
   <a class="navbar-brand" href="{% url 'home' %}">الصفحه الرئيسية</a>
        <a class="nav-link" href="{% url 'statics' %}">الاحصائيات</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainMenu">
      {%if user.is_authenticated%}
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          اهلا  {{ user.username }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
            <a class="dropdown-item" href="{%url 'add_student'%}">اضافه طالب</a>
            <a class="dropdown-item" href="{%url 'my_account'%}">اداره الحساب</a>
            <a class="dropdown-item" href="{%url 'password_change'%}">تغيير كلمه السر</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">تسجيل الخروج</a>
          </div>
        </li>
      </ul>
        {%else%}
        <form class="form-inline ml-auto">
        <a href="{%url 'login'%}" class="btn btn-outline-secondary">login</a>
        </form>
            {%endif%}

    </div>
  </div>
</nav>
<div class="container">


    {% block content %}
    {% endblock %}

</div>
{%endblock body%}
<script src="{%static 'js/jquery-3.4.1.min.js'%}"></script>
<script src="{%static 'js/popper.min.js'%}"></script>
<script src="{%static 'js/bootstrap.min.js'%}"></script>

</body>
</html>