{% extends 'base.html' %}
{% block title %}تعديل طالب{% endblock %}


{% block content %}
<div class="m-4">{% include 'includes/_messages.html' %}
</div>
  <form method="post" novalidate class="mb-4 mt-5">
    {% csrf_token %}
    {% include 'includes/form.html'%}
    <button type="submit" class="btn btn-success">Edit changes</button>
  </form>

{% endblock %}