{% extends 'base.html' %}
{%block title%}{{board.name}} {%endblock%}

{% block content %}
<div class="d-inline-flex p-5">
    <div class="card m-2 text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">عدد الطلاب</h5>
            <p class="card-text">{{all_student}}</p>
        </div>
    </div>
    <div class="card m-2 text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">عدد المسددين</h5>
            <p class="card-text">{{expense_student}}</p>
        </div>
    </div>
       <div class="card m-2 text-center" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">عدد الغير المسددين</h5>
            <p class="card-text">{{no_expense_student}}</p>
        </div>
    </div>
</div>


{% endblock %}